.gradle
build/
**/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/.idea
**/.vscode
**/.history
**/.DS_Store
**/.vault*
**/*.hprof
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
**/*.iws
**/*.iml